/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    text-decoration:none;
    list-style:none;
    scroll-behavior:smooth;
}

body{
    background:#FFF7F0;
    color:#2D3436;
    overflow-x:hidden;
}

/* COLORS */
:root{
    --primary:#FF6B6B;
    --secondary:#4ECDC4;
    --yellow:#FFE66D;
    --white:#fff;
    --dark:#2D3436;
    --light:#FFF9F5;
}

/* HEADER */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#07152D;
    padding:15px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:1000;
    box-shadow:0 3px 10px rgba(0,0,0,.2);
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo i{
    color:var(--primary);
    font-size:30px;
}

.logo h2{
    color:var(--dark);
}

.navbar{
    display:flex;
    gap:30px;
}

.navbar a{
    color:#ffffff;
    font-weight:500;
    transition:.3s;
}

.navbar a:hover{
    color:#00D4FF;
}

.navbar a{
    position:relative;
}

.navbar a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:2px;
    background:#00D4FF;
    transition:.3s;
}

.navbar a:hover::after{
    width:100%;
}

.header-btn{
    background:var(--primary);
    color:white;
    padding:10px 20px;
    border-radius:25px;
    font-size:14px;
}

.header-btn:hover{
    transform:translateY(-3px);
}

.menu-btn{
    display:none;
    font-size:28px;
    cursor:pointer;
    color: skyblue ;
}

/* HERO */

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:70px;
    padding:180px 8% 80px;
}

.hero-content{
    flex:1;
    height:650px;
}

.hero-content span{
    color:var(--primary);
    font-weight:600;
}

.hero-content h1{
    font-size:65px;
    line-height:1.2;
    margin:20px 0;
}

.hero-content p{
    color:#666;
    line-height:1.8;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.btn1{
    background:var(--primary);
    color:white;
    padding:15px 30px;
    border-radius:30px;
}

.btn2{
    background:var(--secondary);
    color:white;
    padding:15px 30px;
    border-radius:30px;
}

.hero-image img{
    width:550px;
    height:650px;
    object-fit:cover;
    border-radius:30px;
    box-shadow:0 25px 60px rgba(0,0,0,.25);
    transition:opacity .5s ease;
    animation:float 5s ease-in-out infinite;
}

.hero-image img:hover{
    transform:scale(1.05);
}

@keyframes float{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-15px);
    }
    100%{
        transform:translateY(0);
    }
}

/* STATS */

.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:80px 8%;
}

.stat-box{
    background:white;
    padding:35px;
    text-align:center;
    border-radius:25px;
    transition:.4s;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    border:2px solid rgba(0,212,255,.15);
}

.stat-box:hover{
    transform:translateY(-10px);
    background:#07152D;
    color:white;
}

.stat-box h2{
    color:var(--primary);
    font-size:40px;
}

/* COMMON */

section{
    padding:80px 8%;
}

.section-title{
    text-align:center;
    margin-bottom:50px;
}

.section-title span{
    color:var(--primary);
    font-weight:600;
}

.section-title h2{
    font-size:55px;
    font-weight:800;
    color:#07152D;
}

.section-title span{
    color:#FF6B6B;
    letter-spacing:3px;
}

html{
    scroll-behavior:smooth;
}

section{
    transition:all .5s;
}



/* ABOUT */

.about{
    display:flex;
    align-items:center;
    gap:60px;
}

.about-image img{
    width:500px;
    border-radius:30px;
}

.about-content h2{
    font-size:45px;
    margin:20px 0;
}

.about-content p{
    line-height:1.8;
    color:#666;
    margin-bottom:30px;
}

/* SERVICES */

.service-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.services{
    background:white;
    border-radius:40px;
    box-shadow:0 15px 40px rgba(0,0,0,.08);
}
.service-card{
    background:linear-gradient(135deg,#ffffff,#f5f9ff);
    padding:40px;
    border-radius:25px;
    text-align:center;
    transition:0.5s;
    cursor:pointer;
    border:2px solid rgba(0,212,255,.15);
    box-shadow:
    0 10px 30px rgba(0,0,0,.08),
    0 0 25px rgba(0,212,255,.08);
}

.service-card i{
    font-size:55px;
    color:#FF6B6B;
    margin-bottom:20px;
    transition:.5s;
}

.service-card:hover{
    transform:translateY(-15px);
    background:#07152D;
    color:white;
    box-shadow:
    0 20px 50px rgba(0,0,0,.25),
    0 0 35px rgba(0,212,255,.3);
}

.service-card:hover i{
    color:#00D4FF;
    transform:rotate(360deg);
}

.service-card h3{
    margin-bottom:15px;
}

/* PETS */

.pets{
    overflow:hidden;
    padding:100px 8%;
}

.pet-slider{
    width:100%;
    overflow:hidden;
    margin-top:50px;
}

.pet-track{
    display:flex;
    gap:30px;
    width:max-content;
    animation:scrollPets 25s linear infinite;
}

.pet-track:hover{
    animation-play-state:paused;
}

.pet-card{
    min-width:320px;
    background:#fff;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 15px 40px rgba(0,0,0,.12);
    transition:.5s;
}
@media(max-width:768px){
    .pet-card{
        min-width:240px;
    }
}

.pet-card img{
    width:100%;
    height:250px;
    object-fit:cover;
    transition:.5s;
}

.pet-card:hover img{
    transform:scale(1.1);
}

.pet-card:hover{
    transform:translateY(-15px);
}

.pet-card h3{
    text-align:center;
    padding:15px;
}

.pet-card p{
    text-align:center;
    color:#FF6B6B;
    font-weight:600;
    padding-bottom:20px;
}

@keyframes scrollPets{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-50%);
    }
}

/* PRODUCTS */

.products{
    background:linear-gradient(180deg,#FFF7F0,#ffffff);
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
    margin-top:60px;
}

.product-card{
    background:#fff;
    padding:50px 30px;
    text-align:center;
    border-radius:30px;
    position:relative;
    overflow:hidden;
    cursor:pointer;
    transition:.5s;
    border:2px solid rgba(78,205,196,.15);

    box-shadow:
    0 15px 35px rgba(0,0,0,.08),
    0 0 20px rgba(78,205,196,.08);
}

.product-card i{
    font-size:65px;
    color:#4ECDC4;
    margin-bottom:20px;
    transition:.5s;
}

.product-card h3{
    font-size:26px;
    color:#07152D;
}

.product-card:hover{
    transform:translateY(-15px);
    background:#07152D;

    box-shadow:
    0 25px 60px rgba(0,0,0,.25),
    0 0 35px rgba(0,212,255,.3);
}

.product-card:hover h3{
    color:white;
}

.product-card:hover i{
    color:#FF6B6B;
    transform:scale(1.2) rotate(10deg);
}

.product-card::before{
    content:'';
    position:absolute;
    top:-100%;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(
        rgba(255,255,255,.3),
        transparent
    );
    transition:.7s;
}

.product-card:hover::before{
    top:100%;
}


.product-card p{
    margin-top:10px;
    color:#666;
    line-height:1.7;
    transition:.4s;
}

.product-card:hover p{
    color:#ddd;
}

/* TESTIMONIAL */

.testimonial{
    overflow:hidden;
}

.review-slider{
    width:100%;
    overflow:hidden;
    margin-top:50px;
}

.review-track{
    display:flex;
    gap:30px;
    width:max-content;
    animation:reviewScroll 20s linear infinite;
}

.review-track:hover{
    animation-play-state:paused;
}

.testimonial-card{
    min-width:350px;
    background:white;
    padding:35px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 15px 35px rgba(0,0,0,.1);
    transition:.5s;
}
@media(max-width:768px){
    .testimonial-card{
        min-width:250px;
    }
}
.testimonial-card:hover{
    transform:translateY(-10px);
    box-shadow:
0 20px 50px rgba(0,0,0,.15),
0 0 30px rgba(78,205,196,.3);
}

.testimonial-card img{
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
    border:4px solid #4ECDC4;
}

.testimonial-card p{
    line-height:1.8;
    color:#555;
    margin-bottom:20px;
}

.testimonial-card h4{
    color:#FF6B6B;
    margin-bottom:5px;
}

.testimonial-card span{
    color:#777;
    font-size:14px;
}

@keyframes reviewScroll{

    0%{
        transform:translateX(0);
    }

    100%{
        transform:translateX(-50%);
    }

}

/* CONTACT */

.contact form{
    max-width:700px;
    margin:auto;
}

.contact input,
.contact textarea{
    width:100%;
    padding:15px;
    margin-bottom:20px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
}

.contact textarea{
    height:150px;
    resize:none;
}

.contact button{
    width:100%;
    border:none;
    background:var(--primary);
    color:white;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}

/* FOOTER */

footer{
    background:#222;
    color:white;
    padding:80px 8% 20px;
}

.footer-container{
    display:grid;
    grid-template-columns:1.5fr 1fr 1fr 1fr;
    gap:40px;
}

.footer-box h2,
.footer-box h3{
    margin-bottom:20px;
}

.footer-box p{
    line-height:1.8;
}

.footer-box a{
    display:block;
    color:#ddd;
    margin-bottom:12px;
}

.social-icons{
    display:flex;
    gap:15px;
}

.social-icons i{
    font-size:22px;
    cursor:pointer;
}

.footer-bottom{
    text-align:center;
    border-top:1px solid rgba(255,255,255,.1);
    margin-top:40px;
    padding-top:20px;
}

/* MOBILE */

@media(max-width:768px){

    .header-btn{
        display:none;
    }

    .menu-btn{
        display:block;
    }


    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero-content h1{
        font-size:40px;
    }

    .hero-image img{
        width:100%;
    }

    .hero-buttons{
        justify-content:center;
        flex-wrap:wrap;
    }

    .stats{
        grid-template-columns:1fr 1fr;
    }

    .about{
        flex-direction:column;
        text-align:center;
    }

    .about-image img{
        width:100%;
    }

    .footer-container{
        grid-template-columns:1fr;
        text-align:center;
    }

    .social-icons{
        justify-content:center;
    }
}
.logo img{
    width:120px;
    display:block;
}
.footer-logo{
    width:150px;
    margin-bottom:20px;
    display:block;
}
section{
    animation:fadeUp 1s ease;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
.service-card{
    animation:cardFade 1s ease;
}

@keyframes cardFade{
    from{
        opacity:0;
        transform:translateY(50px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}
.service-card{
    position:relative;
    overflow:hidden;
}

.service-card::before{
    content:'';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background:linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,.3),
    transparent
    );
    transition:.8s;
}

.service-card:hover::before{
    left:100%;
}



.error{
    display:none;
    color:red;
    font-size:14px;
    margin-top:6px;
    margin-bottom:10px;
}

.input-error{
    border:2px solid red !important;
}

.success-message{
    display:none;
    color:green;
    font-size:16px;
    margin-top:15px;
    font-weight:600;
}

.error.show{
    display:block;
    margin-top:-10px;
    margin-bottom:15px;
}

.form-group{
    margin-bottom:20px;
}

.form-group .error{
    display:none;
    color:red;
    font-size:14px;
    margin-top:-18px;
}
.service-link{
    text-decoration:none;
    color:inherit;
    display:block;
}

/* ===========================
   MOBILE RESPONSIVE FIX
=========================== */

@media screen and (max-width:768px){

    /* Hero Section */

    .hero{
        flex-direction:column;
        padding:120px 20px 50px;
        gap:30px;
    }

    .hero-content{
        height:auto;
        text-align:center;
    }

    .hero-content h1{
        font-size:32px;
    }

    .hero-content p{
        font-size:15px;
    }

    .hero-image img{
        width:100%;
        height:350px;
    }

    /* Stats Section */

    .stats{
        grid-template-columns:1fr 1fr;
        padding:50px 20px;
        gap:15px;
    }

    .stat-box{
        padding:20px;
    }

    .stat-box h2{
        font-size:28px;
    }

    .stat-box p{
        font-size:14px;
    }

    /* Section Titles */

    .section-title h2{
        font-size:32px;
    }

    /* About */

    .about{
        flex-direction:column;
        gap:30px;
    }

    .about-image img{
        width:100%;
    }

    .about-content{
        text-align:center;
    }

    .about-content h2{
        font-size:30px;
    }

    /* Services */

    .service-grid{
        grid-template-columns:1fr;
    }

    /* Pets */

    .pet-card{
        min-width:260px;
    }

    .pet-card img{
        height:180px;
    }

    .pet-card h3{
        font-size:18px;
    }

    /* Products */

    .product-grid{
        grid-template-columns:1fr;
    }

    /* Testimonials */

    .testimonial-card{
        min-width:280px;
        padding:25px;
    }

    .testimonial-card p{
        font-size:14px;
    }

    /* Contact */

    .contact form{
        width:100%;
    }

    /* Footer */

    .footer-container{
        grid-template-columns:1fr;
        text-align:center;
    }

    .social-icons{
        justify-content:center;
    }

}

/* FULL SCREEN MOBILE MENU */

.close-menu{
    display:none;
}

.mobile-book{
    display:none;
}

@media(max-width:768px){

    .navbar{
        position:fixed;
        top:0;
        left:-100%;
        width:100%;
        height:100vh;
        background:#07152D;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:35px;
        transition:.4s ease;
        z-index:9999;
    }

    .navbar.active{
        left:0;
    }

    .navbar a{
        color:white;
        font-size:26px;
        font-weight:600;
    }

    .close-menu{
        display:block;
        position:absolute;
        top:25px;
        right:30px;
        color:white;
        font-size:35px;
        cursor:pointer;
    }

    .mobile-book{
        display:inline-block;
        background:#FF6B6B;
        color:white;
        padding:12px 28px;
        border-radius:30px;
        margin-top:10px;
    }

    .header-btn{
        display:none;
    }

    .menu-btn{
        display:block;
        z-index:10000;
    }
}

/* FIX MENU BUTTON & CLOSE BUTTON */

.menu-btn.hide{
    display:none !important;
}

@media(max-width:768px){

    .navbar{
        position:fixed;
        top:0;
        left:-100%;
        width:100%;
        height:100vh;
        background:#07152D;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:35px;
        transition:.4s;
        z-index:9999;
    }

    .navbar.active{
        left:0;
    }

    .close-menu{
        display:block;
        position:absolute;
        top:20px;
        right:25px;
        font-size:35px;
        color:white;
        cursor:pointer;
        z-index:10001;
    }

    .close-menu i{
        color:white;
    }

    .menu-btn{
        display:block;
        z-index:10002;
    }

    .menu-btn.hide{
        display:none !important;
    }
}